{{define "base"}}

<!doctype html>

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <meta http-equiv="content-language" content="ru" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="Docker management" />
    <meta name="author" content="nia" />
    <meta name="copyright" content="Dune" />

    <link rel="stylesheet" href="/static/vendors/chota/chota.min.css" />
    <link
      rel="stylesheet"
      href="/static/vendors/font-awesome4/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/static/css/style.css" />

    <title>Dokcer hard manager</title>
  </head>

  <body>
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <a href="/">Main</a>
          <a href="/containers">
            <i class="fa fa-cubes" aria-hidden="true"></i>
            Containers
          </a>
          <a href="/images">Images</a>
          <a href="/volumes">Volumes</a>
        </div>
      </nav>

      <div>{{ block "content" .}}{{ end }}</div>
    </div>
  </body>
</html>
{{ end }}
