{{define "images"}} {{ template "header" . }}

<h1>Images</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Used</th>
      <th>Tags</th>
      <th>Size</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Images }}
    <tr>
      <td>{{ .ID }}</td>
      <td>{{ .Containers }}</td>
      <td>
        {{ range .RepoTags }}
        <span>{{ . }}</span>
        {{ end }}
      </td>
      <td>{{ .Size }}</td>
      <td>{{ .Created }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ template "footer" . }} {{end}}
